* {
  text-align: left;
  margin: auto
}

html, body {
  height: 100%;
}

h1 {
  font-family: "Garuda";
  font-size: 64px;
  padding: 24px 15%;
  font-weight: bold;
  line-height: 1;
/*  text-decoration: underline red; */
  text-align: center;
  text-shadow: 4px 4px Black;
}

.intro h1 {
  text-align: left;
}

.intro h2 {
  text-align: left;
  font-size: 24px;
}

mark {
  color: White;
  background-color: Coral;
}

mark.title {
  color: White;
  background-color: Coral;
}

mark.subtitle {
  color: Black;
  background-color: Coral;
}

h2 {
  font-family: "Garuda";
/*  font-family: "FreeSans";  */
  font-size: 24px;
  padding: 24px 15%;
  font-weight: 700;
  text-align: left;
}

h3 {
  font-family: "FreeSans";
  font-size: 16px;
  font-weight: 600;
  background-color: Coral;
  padding: 12px;
}

p {
  font-size: 16px;
  font-family: "Garuda";
/*  font-family: "FreeSans"; */
  padding: 12px 0%;
/*  text-align: left; */
  font-weight: 700;
  line-height: 1.5;
}

a {
  font-family: "Garuda";
/*  font-family: "FreeSans"; */
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.group_border p {
  padding: 12px;
}

em {
  font-style: oblique;
}

.button {
  padding: 14px 16px;
  font-family: "FreeSans";
  background-color: "Coral";
  font-size: 16px;
  color: Black;
  border: 2px Black solid;
  text-decoration: none;
  margin: 0 15%;
}

.button:hover {
  background-color: white;
/*  color: Black;
  border: 2px Black solid; */
}

.topnav {
  background-color: white;
  position: fixed;
  width: 100%;
}

.topnav a {
  float: left;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: Coral;
  color: White;
}

.intro {
  height: 100%;
  width: 100%;
  display: table;
  background-image: url("../images/Intro.png");
  background-repeat: no-repeat;
  background-size: 571.5px 693px;
  background-position: 85%;
}

.intro_text {
  vertical-align: middle;
  display: table-cell;
  width: 30%;
}

.banner {
  background-color: Coral;
  color: Black;
  padding: 48px 0;
  border-top: black solid 4px;
}

.banner2 a {
  text-decoration: underline Coral;
}

.banner2 a:hover {
  background-color: Coral;
}

.banner2 {
  background-color: White;
  padding: 48px 0;
  border-top: black solid 4px;
}

.group_border {
  border: Black solid 4px;
}

.column1 {
  width: 30%;
  text-align: left;
}

.column2 {
  width: 70%;
  padding-left: 5%;
  border-left: 4px solid black;
}

table {
/*  border: 4px solid black; */
  margin: 0px 15%;
  min-width: 70%;
}

td {
/*  border: 2px solid black; */
}
