* {
  text-align: center;
  margin: auto
}

html, body {
  height: 100%;
}

h1 {
  font-family: "Abyssinica SIL";
  font-size: 64px;
  padding: 24px 15%;
  font-weight: bold;
/*  text-decoration: underline red; */
  text-align: center;
  text-shadow: 4px 4px Black;
}

.intro h1 {
  text-align: left;
}

.intro h2 {
  text-align: left;
  font-size: 36px;
}

mark {
  color: White;
  background-color: Coral;
}

h2 {
  font-family: "Liberation Serif";
/*  font-family: "FreeSans";  */
  font-size: 24px;
  padding: 24px 15%;
  text-align: center;
}

h3 {
  font-family: "Abyssinica SIL";
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline Red;
  padding: 12px 15%;
}

p {
  font-size: 16px;
  font-family: "Liberation Serif";
/*  font-family: "FreeSans"; */
  padding: 12px 15%;
/*  text-align: left; */
}

a {
  font-family: "Liberation Serif";
/*  font-family: "FreeSans"; */
  font-size: 16px;
  color: black;
}

.group_border p {
  padding: 12px;
}

em {
  font-style: oblique;
}

.button {
  padding: 14px 16px;
  font-family: "FreeSans";
  background-color: Black;
  font-size: 16px;
  color: White;
  border: 2px White solid;
  text-decoration: none;
}

.button:hover {
  background-color: white;
  color: Red;
  border: 2px red solid;
}

.topnav {
  background-color: white;
  position: fixed;
  width: 100%;
}

.topnav a {
  float: left;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: Red;
}

.intro {
  height: 100%;
  width: 100%;
  display: table;
  background-image: url("../images/Intro.png");
  background-repeat: no-repeat;
  background-size: 571.5px 693px;
  background-position: 85%;
}

.intro_text {
  vertical-align: middle;
  display: table-cell;
  width: 30%;
}

.banner {
  background-color: Coral;
  padding: 48px 0px;
  color: White;
}

.banner2 a {
  text-decoration: underline red;
}

.banner2 a:hover {
  background-color: coral;
}

.banner2 {
  background-color: White;
  padding: 48px 0px
}

.group_border {
  border: Black solid 4px;
  margin: 0px 30%;
}
